
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto&display=swap');

/* Variable section */
:root {
    --primary: #16e896;
    --secondary: #54dbc0;
    --tertiary: white;
    --linkedin: #4284f5;
    --github: #5f5f5f;
    --insta: #dd528e;
    --steam: #2ea7e4;
    --bulb: #ffe344;
    --vax: #d454fb;
    --lance: #28a745;
    --daa: #EF6461;
    --font1: 'Open Sans', sans-serif;
    --font2: 'Roboto', sans-serif;
}

html {
    height: 100%;
    background: black;
    padding: none;
    overflow: hidden;
}

body {
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    background: black;
    padding: none;
    overflow: hidden;
}


div {
    display: block;
    overflow: hidden;
    padding: none;
}

img {
    /* padding: 5px 5px 5px 5px; */
    border-radius: 50%;
    width: 160px;
}

h1 {
    text-align: center;
    font-size: 27px;
    color: var(--tertiary);
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: var(--tertiary);
    font-family: var(--font1);
    font-size: 18px;
}

a:hover {
    text-decoration: none;
    color: #54dbc0;
}

a:visited {
    text-decoration: none;
}

p {
    text-decoration: none;
    color: var(--tertiary);
    font-family: var(--font2);
    font-size: 16px;
}

svg {
    padding: 5px 5px 5px 5px;
    width: 60px;
    height: 60px;
    fill: var(--tertiary);
    transition: 0.15s;
    vertical-align: middle;

}

.main {
    display: flex;
    text-align: center;
    height: 100%;
}

.contain {
    color: var(--tertiary);
    margin: auto;
    padding: 10px 10px 10px 10px;
}

.text {
    padding: 5px 5px 5px 5px;
    margin: 0;
    color: var(--tertiary);
    font-family: var(--font1);
}

.smalltext {
    padding: 15px 5px 0px 5px;
    margin: 0;
    color: var(--tertiary);
    font-family: var(--font1);
}

.botpad {
    padding-bottom: 10px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

/* custom SVG colours */
.spoofy:hover {
    fill: var(--primary);
}

.linkedin:hover {
    fill: var(--linkedin);
}

.github:hover {
    fill: var(--github);
}

.insta:hover {
    fill: var(--insta);
}

.steam:hover {
    fill: var(--steam);
}

.bulb:hover {
    fill: var(--bulb);
}

.vax:hover {
    fill: var(--vax);
}

.lance:hover {
    fill: var(--lance);
}

.wave:hover {
    stroke: var(--daa);
}

/* because the waveform svg cannot be filled */
.wave {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}


/*
@media screen and (orientation:portrait) { … }
@media screen and (orientation:landscape) { … }
If your design needs to be tweaked for different resolutions, you can even do that with a media tag like:

@media (min-width:500px) and (max-width:900px) { … }
*/
