@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --primary: #44CF6C;
    --secondary: #54dbc0;
    --tertiary: #EE4266;
    --quaternary: white;
}

html, body {
    height: 100%;
    background: linear-gradient(to bottom right, var(--secondary), var(--primary));
    padding: none;
    overflow: hidden;
}

div {
    display: block;
    overflow: hidden;
    padding: none;
}

h1 {
    text-align: center;
    font-size: 20pt;
    color: var(--quaternary);
}

p {
    font-size: 14pt;
}

img {
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
    width: 160px;
}

svg {
    padding: 10px 10px 10px 10px;
    width: 60px;
    height: 60px;
    fill: var(--quaternary);
    transition: 0.15s;
}

a {
    text-decoration: none;
    color: var(--quaternary);
    font-family: 'Quicksand', sans-serif;
    font-size: 14pt;
}

a:hover {
    color: var(--tertiary);
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: var(--quaternary);
}


.main {
    text-align: center;
    height: 100%;
}

.contain {
    color: var(--quaternary);
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px 10px 10px 10px;
}

.d-grid {
    padding: 10px 10px 10px 10px;
}

.btn {
    color: var(--quaternary);
    border-color: var(--quaternary);
    border: 3px solid var(--quaternary);
    border-radius: 50px 50px 50px 50px;
}

.btn:hover {
    color: var(--quaternary);
    background-color: var(--tertiary);
    border: 3px solid transparent;
}

svg:hover {
    fill: var(--tertiary);
}

.text {
    padding: 5px 5px 0px 5px;
    color: var(--quaternary);
    font-family: 'Quicksand', sans-serif;
}