@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto&display=swap');

:root {
    --primary: #16e896;
    --secondary: #54dbc0;
    --tertiary: white;
    --linkedin: #4284f5;
    --github: #5f5f5f;
    --insta: #dd528e;
    --steam: #2ea7e4;
    --bulb: #ffe344;
    --vax: #fbbb54;
    --font1: 'Open Sans', sans-serif;
    --font2: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    background: /*linear-gradient(to bottom right, var(--secondary), var(--primary));*/ black;
    padding: none;
    overflow: hidden;
}

div {
    display: block;
    overflow: hidden;
    padding: none;
}

h1 {
    text-align: center;
    font-size: 26pt;
    color: var(--tertiary);
}

img {
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
    width: 220px;
}

svg {
    padding: 10px 10px 10px 10px;
    width: 70px;
    height: 70px;
    fill: var(--tertiary);
    transition: 0.15s;
}

a {
    text-decoration: none;
    color: var(--tertiary);
    font-family: var(--font1);
    font-size: 20pt;
}

a:hover {
    text-decoration: none;
    color: var(--secondary);
}

.spoofy:hover {
    fill: var(--primary);
}

.linkedin:hover {
    fill: var(--linkedin);
}

.github:hover {
    fill: var(--github);
}

.insta:hover {
    fill: var(--insta);
}

.steam:hover {
    fill: var(--steam);
}

.bulb:hover {
    fill: var(--bulb);
}

.vax:hover {
    fill: var(--vax);
}

svg:hover {
    fill: var(--tertiary);
}

a:visited {
    text-decoration: none;
    color: var(--tertiary);
}

.main {
    text-align: center;
    height: 100%;
}

.contain {
    color: var(--tertiary);
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px 10px 10px 10px;
}

.text {
    padding: 5px 5px 0px 5px;
    color: var(--tertiary);
    font-family: var(--font1);
}

.botpad {
    padding-bottom: 10px;
}